﻿body
{
	background-color: rgb(5,6,22);
	
}
header
{
	background-color:white;
	font-size:40px;
	border:5px;
	border-radius:5px;
	word-spacing:60px;
	text-decoration:none;
	margin-left: 2%;
	margin-right: 2%;
	max-width:1700px;
}
/* la section est la partie blanche du site ou le texte y est visible  */
section
{
	position:relative;
	/*min-height:90%;*/
	height:auto;
	background-color:white;
	border:5px;
	border-radius:20px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom:2%;
	
}
/* le "ventre" est la partie bleu foncé/noir qui sert de fond au site  */
.ventre
{

	background-color:rgb(17,21,64);
	margin-left:10%;
	margin-right:10%;
	display:block;
	overflow: auto;
	max-width:1700px;
}
.titre
{
	width:20%;
	font-size:40px;
	margin-top:10px;
	/* border: 5px solid blue ; */
}

.paragraphe
{
	
	margin-left:3%;
	float:left;
	width:40%;
	font-size:20px;
	margin-top:10px;
	/* border: 5px solid blue ; */
}

.trucadroite
{
	position:absolute;
	top:2%;
	right:2%;
	
	/* border: 5px solid blue ; */
	
	
}
.paragraphe_cliche
{
	max-width:40%;
	margin-left:3%;
	font-size:20px;
}
th
{
	font-size:25px;
}
td
{
	font-size:20px;
}
h2
{
	font-size:30px;
	text-decoration:underline black ;
}
h1
{
	font-size:30px;
	text-decoration:underline black;
}
a 
{
	font-size:inherit;
	text-decoration: inherit;
	color:inherit;
}
.entete
{
	text-decoration:underline black;
	font-size:20px;
	color:black; 
}
footer
{
	display:block;
	float:bottom;
	height:4%;
	color:white;
	text-align:center;
}
.image 
{
	position:absolute;
	right:1%;
	bottom:1%;
	/* border: 5px solid blue; */
}

